@model Jira.Models.Entities.Ticket

<div class="flex flex-col">
    <form asp-controller="Ticket" asp-action="UpdateTicket" method="post" class="flex flex-col gap-3 w-100">
        <h4>Ticket: @Model.TicketName</h4>   
        <hr/>
        <input asp-for="TicketID" value="@Model.TicketID" hidden="hidden"/>
        <div>
            <label asp-for="TicketName"></label>
            <input asp-for="TicketName" placeholder="Ticket name" value="@Model.TicketName" class="form-control"/>
        </div>

        <div>
            <label asp-for="TicketDescription"></label>
            <input placeholder="Ticket description" asp-for="@Model.TicketDescription" value="@Model.TicketDescription" class="form-control"/>
        </div>

        <div>
            <label asp-for="Sprint"></label>
            <select asp-items="ViewBag.Statuses" asp-for="Status" class="form-select"></select>
        </div>

        <div>
            <label asp-for="Assigner"></label>
            <select asp-items="ViewBag.ActiveUsers" asp-for="Assigner" class="form-select"></select>
        </div>

        <div>
            <label asp-for="Reviewer"></label>
            <select asp-items="ViewBag.ActiveUsers" asp-for="Reviewer" class="form-select"></select>
        </div>

        <div>
            <label asp-for="Sprint"></label>
            <select asp-items="ViewBag.Sprints" asp-for="Sprint" class="form-select"></select>
        </div>

        <button class="btn btn-primary mt-3 w-100" type="submit">Update</button>
    </form>
    
    <form asp-controller="Ticket" asp-action="DeleteTicket" asp-route-ticket="@Model.TicketID" method="post">
        <button class="btn btn-danger w-100 mt-3" type="submit">Delete</button>
        </form>
</div>